body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* VIDEO */
.bg-video {
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    opacity: 0.65;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.navbar {
    width: 100%;
    text-align: right;
    padding: 30px 0px;
    position: fixed;
    z-index: 2;
}

.navbar a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-family: monospace;
    font-size: 18px;
}

.navbar a:hover {
    color: rgb(47, 50, 255);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* DROPDOWN */
.droptext {
    color: white;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    font-family: sans-serif;
}

.droptext:hover {
    color: rgb(47, 50, 255);
    font-size: 16px;
    border-radius: 10px;
    font-family: sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.dropdown-content a {
    color: white;
    text-align: center;
    padding: 13px 20px;
    margin: 5px;
    text-decoration: none;
    display: block;
    z-index: 1;
}

.dropdown-content a:hover {
    transition: 0.5s;
    background-color: #fff;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.currentpage {
    text-decoration: underline !important;
    color: rgb(47, 50, 255) !important;
    opacity: 80%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
.foot{
    margin-top: auto;
    background-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 17px;
    padding: 10px 30px;
    position: relative;
    bottom: 0px;
}

.foot a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}

.foot a:hover {
    color: rgb(198, 255, 255);
}

.dark-theme {
    background: linear-gradient(45deg, rgba(88, 88, 88, 0.4) 55%, rgba(132, 132, 132, 0.2) 10%);
    color: whitesmoke;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  */
main {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    
}

section {
    margin:0 auto;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* CONTACT FORM */
.form-container{
    position:absolute;
    top:18%;
    left:20%;
    background: white;
    width: 60%;
    max-width: 60%;
    padding: 25px 40px 10px 40px;
    background: rgb(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.form-container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.form-container form{
    padding: 30px 0 0 0 0;
}

.form-container form .form-row{
    display: flex;
    margin: 32px 0;
}

.form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea{
    height: 70px;
}

.contact-form{
    text-align: center;
}

.input-data{
    margin:-2px 25px;
    width:300px;
    padding: 5px;
}

.input-data input{
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.input-data input, .textarea textarea{
    display:block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.12);
}

.input-data label{
    bottom: 10px;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.3 ease;
    margin-left: 10px;
    color: black;
}

.input-data input:valid ~ label,
.textarea textarea:valid ~ label,
.input-data input:focus ~ label,
.textarea textarea:focus ~ label{
    transform: translateY(-30px);
    color: black;
    font-weight: 300;
    font-size: 14px;
}

.textarea textarea{
    resize: none;
    width:100%;
    padding-top: 10px;
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.textarea{
    width:100%;
}

.textarea label{
    width: 100%;
    bottom: 40px;
    margin-left: 10px;
    color: white;
}

.input-data .underlined{
    position: absolute;
    bottom: 0;
    height: 2px;
}

.submit-btn{
    margin:20px auto;
}

.input-data input:valid ~ .underlined::before,
.underlined::after,
.textarea textarea:valid ~ .underlined::before,
.underlined::after,
.input-data input:focus ~ .underlined::before,
.underlined::after,
.textarea textarea:focus ~ .underlined::before,
.underlined:after{
    transform: scaleX(1);
}

.submit-btn .input-data{
    height: 45px!important;
    width: 25%!important;
    overflow: hidden;
    margin:0 auto;
}

.submit-btn .input-data:hover .inner{
    left: 0;
}

.submit-btn .input-data input{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition:0.5s;
}

.submit-btn .input-data input:hover{
    z-index: 2;
    border: 1px solid blue;
    color: blue;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.submit-btn .input-data .inner{
    position: absolute;
    left: -100%;
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: all 0.3s;
}

.row{
    display:block;
    position:absolute;
    bottom:10%;
    text-align: center;
    width: 100%;
}

input, textarea {
    margin-right: 8;
    border-radius: 10px;
    box-shadow:  inset 2px 2px 5px rgb(186, 190, 204), inset -5px -5px 10px white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    padding: 0px 10px;
}

input:focus, textarea:focus{
    box-shadow:  inset 1px 1px 2px rgb(186, 190, 204), 
    inset -1px -1px 2px white;
}

input::placeholder, textarea::placeholder{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5px;
}

input:focus::placeholder, textarea:focus::placeholder{
    opacity: 0%;
}

