body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* VIDEO */
.bg-video {
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    opacity: 0.65;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.navbar {
    width: 100%;
    text-align: right;
    padding: 30px 0px;
    position: fixed;
    z-index: 2;
}

.navbar a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-family: monospace;
    font-size: 18px;
}

.navbar a:hover {
    color: rgb(47, 50, 255);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* DROPDOWN */
.droptext {
    color: white;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    font-family: sans-serif;
}

.droptext:hover {
    color: rgb(47, 50, 255);
    font-size: 16px;
    border-radius: 10px;
    font-family: sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.dropdown-content a {
    color: white;
    text-align: center;
    padding: 13px 20px;
    margin: 5px;
    text-decoration: none;
    display: block;
    z-index: 1;
}

.dropdown-content a:hover {
    transition: 0.5s;
    background-color: #fff;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.currentpage {
    text-decoration: underline !important;
    color: rgb(47, 50, 255) !important;
    opacity: 80%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* BANNER */
.banner {
    text-align: center;
    margin-top: 120px;
    position: relative;
    width: 100%;
    font-size: 25px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0))
}

.effect {
    letter-spacing: 10px;
    font-size: 40px;
    font-family: fantasy;
    z-index: -1;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
.foot{
    margin-top: auto;
    background-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 17px;
    padding: 10px 30px;
    position: relative;
    bottom: 0px;
}

.foot a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}

.foot a:hover {
    color: rgb(198, 255, 255);
}

.dark-theme {
    background: linear-gradient(45deg, rgba(88, 88, 88, 0.4) 55%, rgba(132, 132, 132, 0.2) 10%);
    color: whitesmoke;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  */
main {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    
}

section {
    margin:0 auto;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* CARD DISPLAY */

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-container {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background: white;
    padding: 25px 40px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.contact-form {
    text-align: left;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.input-data {
    flex: 1;
}

.input-data label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.input-data input,
.input-data textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.textarea textarea {
    height: 100px;
}

.input-data input:focus,
.textarea textarea:focus {
    outline: none;
    border-color: #007bff;
}

.submit-btn .input-data input {
    display: inline-block; 
    width: auto;
    background: rgba(0, 123, 255, 0.9);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}